# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf

# Patch files
*.patch text eol=lf

# Markdown
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary